header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 65px;
        background-color: #000;
        margin: 0;
        border: 1px solid #fff;
    }
}
