/* You can add global styles to this file, and also import other style files */
@import './styles/init-css';
@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Quicksand:wght@300;500;600;700&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-teal/theme.css';
@import '~primeng/resources/primeng.min.css';
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: $white;
    background-color: $black;
}

a {
    text-decoration: none;
    color: $white;
}

.app-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    margin: 0.8rem;
    padding: 0.8rem;
}
